Thumbs.db
Desktop.ini
.DS_Store

# ????????? ? ????? (?? ????? ???????????? assets/video/)
/girl.mp4
/near_forest.mp4
/shorts.mp4
/stream.mp4

# ????????? ????? ????????? ??
/_tz/

# PDF ? ????? (??) ? ?????? ????????
/*.pdf
